@tailwind base;
@tailwind components;
@tailwind utilities;
/* text: "#212121", */
/* back: "#ECECEC", */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ececec;
  color: #212121;
  font-family: "Roboto Mono", monospace;
}

.nav-active-menu::after {
  content: "";
  position: absolute;
  left: -0.01em;
  right: -0.01em;
  bottom: -4px;
  height: 1px;
  background-color: red;
}

.nav-menu::before {
  content: "";
  width: 0;
  height: 100%;
  background-color: #212121;
  position: absolute;
  top: 0;
  left: 0;
  transition: width 0.2s;
  z-index: -1;
}

.nav-menu:hover {
  color: #ececec;
}

.nav-menu:hover::before {
  width: 100%;
}
